---
---
@charset "utf-8";


/**
* Variables
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,500italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

$base-font-family: Roboto, Helvetica Neue, sans-serif;
$code-font: Inconsolata, monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$darkPrimaryColor:   #0288D1;
$primaryColor:       #03A9F4;
$lightPrimaryColor:  #B3E5FC;
$textPrimaryColor:   darken(#FFFFFF, 3.5%);
$accentColor:        #FF5252;
$primaryTextColor:   #212121;
$secondaryTextColor: #444444;
$dividerColor:       #B6B6B6;
$content-width:    800px;
$on-palm:          600px;
$on-tablet:        1000px;
$on-laptop:        1100px;


/**
* Fonts
*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-599psd');
  src:url('fonts/icomoon.eot?#iefix-599psd') format('embedded-opentype'),
  url('fonts/icomoon.woff?-599psd') format('woff'),
  url('fonts/icomoon.ttf?-599psd') format('truetype'),
  url('fonts/icomoon.svg?-599psd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before { content: "\e600"; }
.icon-favorite:before { content: "\e601"; }
.icon-favorite-outline:before { content: "\e602"; }
.icon-call-made:before { content: "\e60b"; }
.icon-drafts:before { content: "\e603"; }
.icon-reply-all:before { content: "\e60c"; }
.icon-keyboard-arrow-down:before { content: "\e604"; }
.icon-keyboard-arrow-left:before { content: "\e605"; }
.icon-keyboard-arrow-right:before { content: "\e606"; }
.icon-keyboard-arrow-up:before { content: "\e607"; }
.icon-brightness-2:before { content: "\e608"; }
.icon-brightness-4:before { content: "\e609"; }
.icon-publ:before { content: "\e60d"; }
.icon-star:before { content: "\e60a"; }
.icon-twitter:before { content: "\ea91"; }
.icon-dribbble:before { content: "\eaa6"; }
.icon-github:before { content: "\eab1"; }


/**
* Mixins
*/

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/**
* Imports
*/

@import "base", "layout", "syntax-highlighting";
